<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col">
      <h1>Bacon Ipsum.</h1>
      <h2>a lorem ipsum parody</h2>
      <img src="https://baconmockup.com/300/250" alt="bacon">
      <p>
        Bacon ipsum dolor amet pork picanha beef ribs pancetta spare ribs rump tri-tip alcatra
        boudin tail strip steak kielbasa. Shank alcatra pig bacon. Ham turkey pork belly ground
        round porchetta flank tenderloin brisket t-bone tongue ribeye pancetta cupim. Bresaola
        sirloin shoulder tongue pig pastrami. Sausage rump ham hock pancetta boudin chicken. Rump
        strip steak hamburger shank bresaola ham hock.
      </p>
    </div>
  </div>
</div>

