<div class="row justify-content-center align-items-center">
  <div class="container">
    <h1>Bacon Ipsum.</h1>
    <h2>a lorem ipsum parody</h2>

    <div class="col">
      <p>
        Bacon ipsum dolor amet pork picanha beef ribs pancetta spare ribs rump tri-tip alcatra
        boudin tail strip steak kielbasa. Shank alcatra pig bacon. Ham turkey pork belly ground
        round porchetta flank tenderloin brisket t-bone tongue ribeye pancetta cupim. Bresaola
        sirloin shoulder tongue pig pastrami. Sausage rump ham hock pancetta boudin chicken. Rump
        strip steak hamburger shank bresaola ham hock.
      </p>
      <img src="https://baconmockup.com/300/250" alt="bacon">
    </div>

    <div class="col">
      <p>
        Jerky shankle bacon beef. Tongue shoulder tri-tip pig. Shank short ribs picanha sirloin
        filet mignon cow. Hamburger sausage sirloin t-bone tail venison beef ribs landjaeger
        bresaola short loin rump brisket pork belly buffalo. Meatloaf burgdoggen flank, cupim
        tenderloin landjaeger tail cow rump chuck porchetta pastrami turducken.
      </p>
      <img src="https://baconmockup.com/300/250" alt="bacon">
    </div>

    <div class="col">
      <p>
        Buffalo kevin tenderloin shoulder pancetta brisket turkey leberkas capicola turducken. Filet
        mignon tail beef ribs kevin leberkas. Ribeye jerky short ribs, ground round pastrami pork
        chop meatloaf boudin hamburger biltong turducken sirloin. Doner burgdoggen boudin shank
        sausage meatball kevin pig turducken.
      </p>
      <img src="https://baconmockup.com/300/250" alt="bacon">
    </div>

    <div class="col">
      <p>
        Ground round shank hamburger meatball, swine picanha filet mignon ham hock. Doner bacon
        sirloin shankle landjaeger, leberkas andouille ham hock. Swine pork chop bresaola, alcatra
        buffalo fatback pork belly flank. Andouille short ribs burgdoggen frankfurter turkey tail
        venison capicola jerky chicken pork loin beef ribs kielbasa rump shoulder. Hamburger shank
        ground round rump pork chop bresaola beef andouille. Sirloin picanha cupim frankfurter pork
        chop t-bone. Andouille flank rump pancetta tail tenderloin pork belly beef ribs.
      </p>
      <img src="https://baconmockup.com/300/250" alt="bacon">
    </div>

    <div class="col">
      <p>
        Shoulder short ribs capicola landjaeger fatback. Pork frankfurter burgdoggen chuck.
        Hamburger ground round prosciutto shankle capicola drumstick short loin bresaola t-bone
        sirloin alcatra meatball. Pork chop turkey doner boudin bacon, frankfurter venison short
        loin sirloin prosciutto andouille short ribs meatloaf kevin. Burgdoggen porchetta strip
        steak flank. Shank drumstick short ribs, pancetta tail kielbasa ribeye.
      </p>
      <img src="https://baconmockup.com/300/250" alt="bacon">
    </div>
  </div>
</div>
