.top-burner
  margin-top: 2rem

.main-container
  padding-top: 1.5rem
  padding-bottom: 1.5rem

.typing-form-field
  padding-top: 15px
  width: 100%

.typing-field
  font-size: 1.5em
  width: 100%

.no-label
  border-top-width: 0
